<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="feb2017patch" value="https://dotnet.myget.org/F/aspnet-feb2017-patch/api/v2" />
    <add key="msbuildtools" value="https://dotnet.myget.org/F/msbuildtools/api/v2" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
